@font-face 
{
	font-family: Josefin;
	src: url('../fonts/JosefinSansStd-Light.otf');
}

@font-face 
{
	font-family: "Josefin Bold";
	src: url('../fonts/JosefinSans-Bold.ttf');
	font-weight: bold;
}

@font-face 
{
	font-family: "Josefin Slab Bold";
	src: url('../fonts/JosefinSlab-Bold.ttf');
	font-weight: bold;
}
.am_bg
{
	background: #dcdcdc url("../images/skylineam.jpg") no-repeat center top;
}

.pm_bg
{
	background: #dcdcdc url("../images/skylinepm.jpg") no-repeat center top;
}

.head_am
{
	color: rgb(102,36,42); 
}

.head_pm
{
	color: rgb(106, 108, 158);
}

.am
{
	color: rgb(14,123,220);
}

.pm
{
	color: rgb(237,145,33);
}

.am_border
{
	border-right: 2px solid rgb(14,123,220);
}

.pm_border
{
	border-right: 2px solid rgb(237,145,33);
}

body
{
	font-family: Josefin;
}

#top_wrap 
{
	font-family: Josefin;
	height: 850px;
	margin: -8px;

}

#top_wrap:after {
  content: "";
  display: table;
  clear: both;
}

#bio
{
	position: relative;
	float: right;
	width: 630px;
	background-color:rgba(255,255,255,0.9);
	margin: 30px 10px 0 0;
	padding: 5px 20px 0 20px;
	border-bottom-right-radius: 7px; 
	font-weight: 100;
	box-shadow: 5px 5px rgba(34,34,34,0.3);
	-webkit-box-shadow: 5px 5px rgba(34,34,34,0.3);
	-webkit-background-clip: padding-box;
}

#bio h1
{
	margin-top: 0;
	margin-bottom: -12px;
	text-align: center;
	font-family: "Josefin";
	font-size: 4em; 
	font-weight: 100;
}

#bio h1 span
{
	font-family: "Josefin Slab Bold";
}

#bio p:nth-child(2)
{
	margin: 0;
	padding-bottom: 5px;
	color: rgb(100,100,100);
	text-align: center;
	letter-spacing: 2px;
	border-bottom: 1px solid rgb(100,100,100);
}

.big
{
	font-family: "Josefin Sans Bold";
	font-size: 1.1em;
}

#bio ul
{
	padding-left: 160px;
	margin: 8px 0 0 0;
	border-bottom: 1px solid rgb(100,100,100);
	padding-bottom: 8px;
	margin-bottom: 10px;

}

#bio ul li
{
	display: inline-block;
	padding: 2px 4px 1px 0;
}

#bio ul li:last-child
{
	border: 0;
}

#bio ul li a 
{    
	padding: 0 10px;
	color: rgb(100,100,100);
	font-size: 1.1em;
	text-decoration: none;
}

#bio ul li a:hover
{
	color: black;
}

#scrunch:after {
  content: "";
  display: table;
  clear: both;
}

#bio img
{
	float: left;
	margin: 10px 0 20px 0;
	border-bottom-right-radius: 15px;
}

#scrunch p:nth-child(2)
{
	float: right;
	margin-top: 10px;
	padding-top: 4px;
	width: 490px;
	text-align: justify;
	letter-spacing: 0;
	line-height: 1.2;
	font-size: 1em;
	color: rgb(80,80,80);
	border: 0;
}

#scrunch p:last-child
{
	position: absolute;
	right: 8px;
	bottom: -12px;
	font-family: Tahoma,Arial,sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
}

#scrunch p a
{
    color: #888;
    text-decoration: none;
}

#social_sidebar
{
	margin: 25px 10px 0 0;
	float: right;
}

#social_sidebar div
{
	float: right;
	clear: right;
}

#portfolio
{
	position: absolute;
	padding: 15px 5px 10px 12px;
	margin-top: -800px;
	margin-left: 20px;
	height: 600px;
	width: 310px;
	background-color:rgba(255,255,255,0.95);
	border-bottom-right-radius: 7px;
	box-shadow: 5px 5px rgba(34,34,34,0.3);
	-webkit-box-shadow: 5px 5px rgba(34,34,34,0.3);
	z-index: 0;
}

#portfolio ul
{
	list-style-type: none;
	padding: 0;
}

#portfolio ul li
{
	height:192px;
	width: 300px;
	border: 1px solid black;
}

#resume
{	
	position: absolute;
	bottom: 15px;
	padding: 20px 5px 20px 30px;
	margin-left: 1275px;
	height: 450px;
	width: 840px;
	background-color:rgba(255,255,255,0.95);
	border-bottom-right-radius: 7px;
	box-shadow: 5px 5px rgba(34,34,34,0.3);
	-webkit-box-shadow: 5px 5px rgba(34,34,34,0.3);
	z-index: 0;
}

#contact
{	
	position: absolute;
	bottom: 15px;
	padding: 20px 5px 20px 30px;
	margin-left: 1275px;
	height: 450px;
	width: 840px;
	background-color:rgba(255,255,255,0.8);
	border-bottom-right-radius: 7px;
	box-shadow: 5px 5px rgba(34,34,34,0.3);
	-webkit-box-shadow: 5px 5px rgba(34,34,34,0.3);
	z-index: 0;
}

input
{
	width: 390px;
	height: 32px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	font-size: 0.85em;
	border-top: 1px solid rgb(100,100,100);
	border-right: 1px solid rgb(180,180,180);
}

input::-webkit-input-placeholder 
{
   padding-left: 5px;
}

input:-moz-placeholder 
{ /* Firefox 18- */
   padding-left: 5px;
}

input::-moz-placeholder 
{ /* Firefox 18- */
   padding-left: 5px;
}

input:-ms-input-placeholder 
{  
   padding-left: 5px;
}

.close
{
	position: absolute;
	right: 10px;
	top: -13px;
	font-family: Tahoma,Arial,sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
}

.close a
{
    color: #888;
    text-decoration: none;
}

textarea
{
	margin-left: 10px;
	margin-bottom: 10px;
	width: 794px;
	height: 350px;
	border-radius: 5px;
	font-size: 2.5em;
}

textarea::-webkit-input-placeholder 
{
   color: rgb(102,36,42); /*am*/
   /*	color: rgb(106, 108, 158);*/ /*pm*/
   padding-top: 10px;
   padding-left: 15px;
}

textarea:-moz-placeholder 
{ /* Firefox 18- */
   color: rgb(102,36,42); /*am*/
   /*	color: rgb(106, 108, 158);*/ /*pm*/
   padding-top: 10px;
   padding-left: 15px;
}

textarea::-moz-placeholder 
{ /* Firefox 18- */
   color: rgb(102,36,42); /*am*/
   /*	color: rgb(106, 108, 158);*/ /*pm*/
   padding-top: 10px;
   padding-left: 15px;
}

textarea:-ms-input-placeholder 
{  
   color: rgb(102,36,42); /*am*/
   /*	color: rgb(106, 108, 158);*/ /*pm*/
   padding-top: 10px;
   padding-left: 15px;
}

form div
{
	display: inline-block;	
	height: 50px;
	width: 242px;
	float: left;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bdbdbd), color-stop(1, #7f7f7f));
	background-image: -moz-linear-gradient(top, #bdbdbd, #7f7f7f);
}

#phone_btn
{
	margin-left: 10px;
}

#phone_btn img
{
	position: absolute;
	padding-top: 12px;
	padding-left: 52px;
}

#phone_btn p
{
	padding-left: 35px;
	text-align: center;
	color: white;
}

#submit_btn
{
	margin-left: 5px;
	width: 300px;
}

#submit_btn a
{
	position: relative;
	top: 18px;
	margin: 0;
	padding: 19px 68px 16px 72px;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
}

#submit_btn:hover
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #bdbdbd));
	background-image: -moz-linear-gradient(top, #FFFFFF, #bdbdbd);
}

#submit_btn a:hover
{
	color: rgb(42,42,42);
}

#mail_btn
{
	margin-left: 5px;
}

#mail_btn img
{
	position: absolute;
	padding-top: 14px;
	padding-left: 22px;
}

#mail_btn a
{
	position: relative;
	top: 17px;
	left: 52px;
	color: white;
	text-decoration: none;
}
