@font-face 
{
	font-family: Josefin;
	src: url('../fonts/JosefinSansStd-Light.otf');
}

@font-face 
{
	font-family: "Josefin Bold";
	src: url('../fonts/JosefinSans-Bold.ttf');
	font-weight: bold;
}

@font-face 
{
	font-family: "Josefin Slab Bold";
	src: url('../fonts/JosefinSlab-Bold.ttf');
	font-weight: bold;
}

body
{
	font-family: Josefin;
}

#top_wrap 
{
	background: #dcdcdc url("../images/skyline.jpg") no-repeat center top;
	font-family: Josefin;
	height: 850px;
	margin: -8px;

}

#top_wrap:after {
  content: "";
  display: table;
  clear: both;
}

#bio
{
	position: relative;
	float: right;
	width: 630px;
	background-color:rgba(255,255,255,0.9);
	border-bottom-right-radius: 15px;
	margin: 30px 30px 0 0;
	padding: 5px 20px 0 20px;
	font-weight: 100;
	box-shadow: 5px 5px rgba(34,34,34,0.3);
	-webkit-box-shadow: 5px 5px rgba(34,34,34,0.3);
	-webkit-background-clip: padding-box;
	z-index: 1;
}

@-moz-document url-prefix() {
    #bio
    {
        height: 317px;
    }
} 

#bio h1
{
	margin-top: 0;
	margin-bottom: -12px;
	text-align: center;
	font-family: "Josefin";
	color: rgb(237,145,33);
	font-size: 4em; 
	font-weight: 100;
}

#bio h1 span
{
	font-family: "Josefin Slab Bold";
}

#bio p:nth-child(2)
{
	margin: 0;
	padding-bottom: 5px;
	color: rgb(100,100,100);
	text-align: center;
	letter-spacing: 2px;
	border-bottom: 1px solid rgb(100,100,100);
}

.big
{
	color: rgb(237,145,33);
	font-size: 1.3em;
}

#bio p span
{
	color: rgb(237,145,33);
}

#bio ul
{
	padding-left: 160px;
	margin: 8px 0 0 0;
	border-bottom: 1px solid rgb(100,100,100);
	padding-bottom: 8px;
	margin-bottom: 10px;

}

#bio ul li
{
	display: inline-block;
	border-right: 2px solid rgb(237,145,33);
	padding: 2px 4px 2px 0;
}

#bio ul li:last-child
{
	border: 0;
}

#bio ul li a 
{    
	padding: 0 10px;
	color: rgb(100,100,100);
	font-size: 1.1em;
	text-decoration: none;
}

#bio ul li a:hover
{
	color: black;
}

#bio ul li a:active
{
	font-style: italic;
}

#scrunch:after {
  content: "";
  display: table;
  clear: both;
}

#bio img
{
	float: left;
	margin: 10px 0 20px 0;
	border-bottom-right-radius: 15px;
}

#bio p:last-child 
{
	float: right;
	margin-top: 10px;
	padding-top: 4px;
	width: 490px;
	text-align: justify;
	letter-spacing: 0;
	line-height: 1.2;
	font-size: 1em;
	color: rgb(100,100,100);
	border: 0;
}

#social_sidebar
{
	margin: 5px 23px 0 0;
	float: right;
	clear: right;
}

#social_sidebar div
{
	position: relative;
	float: right;
	z-index: 1;
}

#contact
{	
	position: absolute;
	bottom: 40px;
	padding: 20px 70px;
	margin-left: 1275px;
	height: 360px;
	width: 820px;
	background-color:rgba(255,255,255,0.9);
	border-radius: 5px;
	box-shadow: 5px 5px rgba(34,34,34,0.3);
	-webkit-box-shadow: 5px 5px rgba(34,34,34,0.3);
}

input
{
	width: 390px;
	height: 32px;
	margin-left: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border-top: 1px solid rgb(100,100,100);
	border-right: 1px solid rgb(180,180,180);
}

input::-webkit-input-placeholder 
{
   color: rgb(237,145,33);
   padding-left: 5px;
}

input:-moz-placeholder 
{ /* Firefox 18- */
   color: rgb(237,145,33); 
   padding-left: 5px;
}

input::-moz-placeholder 
{  /* Firefox 19+ */
   color: rgb(237,145,33); 
   padding-left: 5px;
}

input:-ms-input-placeholder 
{  
   color: rgb(237,145,33);  
   padding-left: 5px;
}

.close
{
	position: absolute;
	right: 10px;
	top: -12px;
	font-family: Tahoma,Arial,sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
}

.close a
{
    color: #888;
    text-decoration: none;
}

textarea
{
	margin-left: 10px;
	margin-bottom: 10px;
	width: 794px;
	height: 260px;
	border-radius: 5px;
	font-size: 2.5em;
}

textarea::-webkit-input-placeholder 
{
   color: rgb(130,130,130);
   padding-top: 10px;
   padding-left: 15px;
}

textarea:-moz-placeholder 
{ /* Firefox 18- */
   color: rgb(130,130,130);
   padding-top: 10px;
   padding-left: 15px;
}

textarea::-moz-placeholder 
{  /* Firefox 19+ */
   color: rgb(130,130,130);
   padding-top: 10px;
   padding-left: 15px;
}

textarea:-ms-input-placeholder 
{  
   color: rgb(130,130,130);
   padding-top: 10px;
   padding-left: 15px;
}

form div
{
	display: inline-block;	
	height: 50px;
	width: 242px;
	float: left;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bdbdbd), color-stop(1, #7f7f7f));
}

#phone_btn
{
	margin-left: 10px;
}
#phone_btn p
{
	text-align: center;
	color: white;
}

#submit_btn
{
	margin-left: 5px;
	width: 300px;
}

#submit_btn a
{
	position: relative;
	top: 18px;
	margin: 0;
	padding: 19px 68px 16px 72px;
	font-size: 1.2em;
	text-decoration: none;
	color: white;
}

#submit_btn:hover
{
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #bdbdbd));
}

#submit_btn a:hover
{
	color: rgb(42,42,42);
}

#mail_btn
{
	margin-left: 5px;
}
#mail_btn p
{
	text-align: center;
	color: white;
}
